body {
    background-image: url('img_slides/background/widescreen-16-9.png') !important;
    background-size: 100% !important; /* height becomes 'auto' */
    background-position: bottom !important;
    background-repeat: no-repeat !important;
}

section h1,
section h2 {
    color: #bf165e !important;
}

figcaption {
    font-size: 21px !important;
}

section figure img {
    max-height: 9em !important;
    border: unset !important;
    box-shadow: unset !important;
}
